
/* fondation er for sidens størlese så den ikke føller det helle. */
#fondation {
	background-color: white;
	margin-top: 0;
}

.fondation {
	width: 90%;
	margin-left: auto;
	margin-right: auto;

	background-color: #f4f4f4;
	
}
.fondation h1 {
margin-right: auto;
margin-left: auto;
margin-top: 0px;

}
/* layout og grid er til at lave et layout som gør at siden ser bedere ud */
#layout {
	display: grid;
	grid-template-columns: 250px auto;
	grid-template-rows: auto auto;
	grid-template-areas:
}
#grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}
/* profilbillede er rammen på billedet og billedet er størelsen og berden */
.profilbillede {
	margin-left:8px;
border: 5px #ccc solid;
border-radius: 20px;
width: 241px;

}

.billede{
	height: 300px;
	width: 239px;
	border-radius: 20px;
}

.profiloplysninger {
	margin-left: 30px;
	
	
}
/* coloner er til at lave coloner ind i grid og layoutet */
.coloner {
	display: grid;
	grid-template-columns: auto auto;
}

.coloner h2 {
margin-top: auto;
margin-bottom: auto;
}
.coloner h4{
margin-top: auto;
margin-bottom: auto;
}
}
.coloner p{
	margin-top: auto;
}
/* forum er til at styre størelsen på input og de ting der gå i gennem dem */
.forum{
    padding:20px;
}
.forum .form-group{
    padding-bottom: 15px;
}

.forum input[type="text"], .forum textarea{
    padding:8px;
    width:80%;
}
.forum button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

    .forum button:hover {
        background: red;
        color: #fff;
	}
	

.searchbar{
position: absolute;
right: 60px;
height: 20px;
}	